<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.5.1.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <title>标注工具</title>
</head>
<body>
<div>
    <div>
        T: Task(任务、目的、应用等……)<br>
        M: Material(材料、数据、资料等……)<br>
        P: Process(过程、方法、技术、手段等……)<br>
        大小写均可<br>
    </div>
    <div>
        <br>文章信息<br>
        标题：<span id="title"></span><br>
        编号：<span id="record-id"></span>
    </div>

    <div style="margin-top: 20px;">
        <button type="button" onclick="pre_record()">上一页</button>
        <button type="button" onclick="upload_record()">提交结果</button>
        <button type="button" onclick="next_record()">下一页</button>
        <input id="goto-id">
        <button type="button" onclick="goto()">转到</button>
    </div>

    <div>
        <br>标注区域
        <div id="tag"></div>
    </div>
</div>
</body>

<script>
    // 获取一条记录 并渲染
    function get_record(record_id) {
        console.log("get record:", record_id)
        $.ajax({
            async: false,
            type: "GET",
            url: "/get_record",
            dataTypes: "json",
            data: {
                "record_id": record_id
            },
            success: function (data) {
                console.log("get record success, data:");
                console.log(data)
                $("#record-id").text(data["id"]);
                $("#title").html(data["title"]);
                $("#tag").html(data["abstract"]);
                // 如果有已经标注的数据，填进去
                if (data["tag_kp"]) {
                    let tag_kp_list = JSON.parse(data["tag_kp"]);
                    $(".kp-input").each(function (idx) {
                        $(this).val(tag_kp_list[idx])
                    })
                }
            },
            error: function (data) {
                alert("get record error")
            }
        })
    }

    // 上传一条记录
    function upload_record() {
        // get tag content
        let tag_content = [];
        $(".kp-input").each(function (idx) {
            tag_content.push($(this).val())
        })

        console.log("get tag content, data:")
        console.log(tag_content);

        $.ajax({
            async: false,
            type: "POST",
            url: "/upload_record",
            dataTypes: "json",
            data: {
                "tag_kp": JSON.stringify(tag_content),
                "record_id": $("#record-id").text()
            },
            success: function (data) {
                console.log("upload record success");
            },
            error: function (data) {
                alert("upload record error")
            }
        })
    }

    function pre_record() {
        let c_id = +$('#record-id').text();
        console.log("current record id", c_id);
        if (c_id > 0) {
            upload_record()
            get_record(c_id - 1)
        }
    }

    function next_record() {
        let c_id = +$('#record-id').text();
        console.log(c_id);
        if (c_id < 999) {
            upload_record()
            get_record(c_id + 1)
        }
    }

    function goto() {
        let goto_id = +$("#goto-id").val();
        console.log("goto", goto_id);
        if (goto_id) {
            get_record(goto_id);
        }
    }

    get_record(1);
</script>
</html>